<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>
<br>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

        <!-- <ul th:each="mapItem : ${cheeses}"> -->
        <ul th:each="cheese: ${cheeses}">
            <li th:text="${cheese.getName() + ' : ' + cheese.getDescription()}">Cheese with Description</li>
            <!-- <li th:text="${mapItem.key + ' : ' + mapItem.value}">Cheese with Description</li> -->
        </ul>

</body>
</html>