<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>
<p></p>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

    <form method="post">
        <ul th:each="mapItem : ${cheeses}">
            <li th:text="${mapItem.key + ' : ' + mapItem.value}">Cheese with Description</li>
            <input type="checkbox" name="${mapItem.key}" value="${mapItem.key}" />
        </ul>
        <input type="submit" value="Delete" />
    </form>

</body>
</html>