<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<br />
<form method="post">
    <div class="form-group">
        <p th:each="mapItem : ${cheeses}">
            <input type="checkbox" name="cheeses" th:value="${mapItem.key}" />
            <span th:text="${mapItem.key + ' : ' + mapItem.value}">Cheese with Description</span>
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
</body>
</html>