<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<br />
<form method="post">
    <div class="form-group">
        <p th:each="cheese : ${cheeses}">
            <input type="checkbox" name="cheeseList" th:value="${cheese}" />
            <label th:text="${cheese.getName() + ' : ' + cheese.getDescription()}">Cheese with Description</label>
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
</body>
</html>